body{
        height: 100%;
}

.container{
    margin: auto 0;
}


.timerClock{
    /*background-color: blue;*/
    font-size: 12rem;
    text-align: center;
    font-weight: 100;
    line-height: 10rem;
    /*margin-top: 8rem;*/
    /* a może  vw  wykorzystac ?? */

}

.timerText{
    /*background-color: cornflowerblue;*/
    font-size: 4rem;
    text-align: center;
    font-weight: 400;

}





input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    margin: 0.5rem 0;
    padding: 1rem;
    background: #FFF;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
}

input[type="radio"] + label span {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 4px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;

}

input[type="radio"] + label span {
    background-color: #ffff00;
    background: url("unchecked.png") ;
    background-size: 32px 32px;

}

input[type="radio"]:checked + label span {
    background-color: #F5F5FF;
    background: url("checked.png") ;
    background-size: 32px 32px;


}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}
.klasaRadio{
    /*background: #FFF;*/
    float: right;
    padding: 1rem;

}