#h1Add{
	font-size: 3rem;
	margin-bottom: 3rem;
    margin-top: 10rem;

}
#nameRest, #selectRest{
    width: 100%;
    line-height: 6rem;
    font-size: 2rem;
    color: #000;
    /*background-color: rgba(205, 219, 194, 0.2);*/
    background-color: #FFF;
    margin-bottom: 3rem;
    text-align: left;
    padding: 0 1rem;
}
#selectRest select{
    width: 100%;
    color: #A9A9A9;
    background-color: #FFF;
    text-align: center;
    border-style: none;
    outline: none;
}


.btnAddRest{
    float: right;
    line-height: 5rem;
    font-size: 2rem;
    border-radius: 0;
}


::-webkit-input-placeholder {
   color: #A9A9A9;
}

:-moz-placeholder { /* Firefox 18- */
   color: #A9A9A9;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #A9A9A9;  
}

:-ms-input-placeholder {  
   color: #A9A9A9;  
}

@media only screen and (max-width: 768px) {
    #h1Add{
        margin-top: 2rem;
    }
}
