.header{
    height:10em;
    position: relative;
    border-bottom: 1px solid;

}
#choose{
    position: absolute;
    bottom: 0.5em;
}
.table .row{
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid;

    padding: 17px;
}
.add .row{
    text-align: center;
}
.type{
    font-size: 0.7em;
}
.table img {
    font-size: 30px;
    color: #FFF;
}
.checkbox {
    position: absolute;
    bottom: -42px;
}
.checked {
    height: 32px;
    width: 32px;
    border: 2px solid;
    border-radius: 10px;
    position: relative;
    margin: auto 44px;
}
.hash {
    position: absolute;
    margin: -15px -14px;
    font-size: 1.8em;
    opacity: 0;
}

.hash:hover{
    opacity: 1;
}
.add button{
    float: right;
}

/*--------Accordion--------*/
.accordionContent{
    color: #000;
}
.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}
.table accordion{
    background: none;
}
