.timer-tpl{
    /*background-color: violet;*/
    width: 100% ;
}
.myTimerClock {
    /* background-color: blue; */
    font-size: 4rem;
    text-align: right;
    font-weight: 100;
     line-height: 4rem;
     margin-top: 1rem;
}
.myTimerText {
    /* background-color: cornflowerblue; */
    font-size: 1.2rem;
    text-align: right;
    font-weight: 400;
}