/* app css stylesheet */
html, body {

  background: url("img/tlo.png") no-repeat center center fixed;
  min-height: 100%;
  background-size: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #F5F5F5;
  margin:0 2em;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.header{
  height:10em;
  position: relative;
  border-bottom: 1px solid;

}
#choose{
  position: absolute;
  bottom: 0.5em;
}
.table .row{
  text-align: center;
  font-size: 1.5em;
  border-bottom: 1px solid;

  padding: 17px;
}
.add .row{
  text-align: center;
}
.type{
  font-size: 0.7em;
}
.table img {
  font-size: 30px;
  color: #FFF;
}
.checkbox {
  position: absolute;
  bottom: -42px;
}
.checked {
  height: 32px;
  width: 32px;
  border: 2px solid;
  border-radius: 10px;
  position: relative;
  margin: auto 44px;
}
.hash {
  position: absolute;
  margin: -8px -10px;
  font-size: 1.8em;
  opacity: 0;
}

.hash:hover{
  opacity: 1;
}
.add button{
  float: right;
}


